.larpevent-container {
  #full {
    color: red;
  }
  p,
  span {
    margin: 0.5rem 0rem;
  }
  padding: 3rem;
  .larpevent-box {
    display: flex;
    flex-wrap: wrap;
    .larpevent-card {
      width: 21rem;
      margin: 1rem;
    }
  }
}
